@use "../../../../styles/mixins.module" as mixins;
@use "/src/styles/fonts/global.module" as fonts;
@use "/src/styles/colors/global.module" as colors;

$parentClassName: navigation__nav;

$navigation__nav-title-color: map-get(colors.$types, white-var, darker);
$navigation__nav-title-color-hover: map-get(colors.$types, white-var, lighter);

.#{$parentClassName} {
	@include mixins.transparent-background;

	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	cursor: pointer;

	.#{$parentClassName}-title {
		@include mixins.transparent-background;

		text-align: center;
		position: relative;
		color: $navigation__nav-title-color;
		letter-spacing: 1.5px;
		text-decoration: none;
		overflow: hidden;
		opacity: 0.875;

		display: flex;
		justify-content: center;
		align-items: center;

		transition: all 1s ease 0s;

		font: {
			size: 16px;
			family: "Inter";
		}
		padding: {
			top: 7.5px;
			bottom: 7.5px;
			left: 10px;
			right: 10px;
		}
		.#{$parentClassName}-title-text {
			@include mixins.header-title;
			margin: 0 !important;
		}
	}

	.#{$parentClassName}-title:hover {
		color: $navigation__nav-title-color-hover;
		opacity: 1;
	}
}
