@use "../../../styles/mixins.module" as mixins;

$parentClassName: author-bio;

.#{$parentClassName} {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 650px;

	.#{$parentClassName}__container {
		z-index: 2;
		pointer-events: none;
		max-width: 75%;
		width: 100%;
		min-width: 90%;
		height: 85%;

		.#{$parentClassName}__inner {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
}

.#{$parentClassName} *,
.#{$parentClassName} {
	@include mixins.transparent-background;
}
