$parentClassName: expertises;

.#{$parentClassName} {
	width: 100%;
	display: flex;
	justify-content: center;
	.#{$parentClassName}__container {
		margin: 75px 0;
		width: 80%;
		.#{$parentClassName}__inner {
			width: 100%;
			height: 100%;
		}
	}
}
