@use "../../../../../styles/mixins.module" as mixins;
@use "/src/styles/fonts/global.module" as fonts;

$parentClassName: about;

.#{$parentClassName} {
	.#{$parentClassName}__inner {
		.#{$parentClassName}__title {
			@include mixins.header-title;

			font: {
				family: "Inter";
			}
		}
	}
}

.#{$parentClassName} * {
	@include mixins.transparent-background;
}
