@use "/src/styles/fonts/global.module";

$parentClassName: featured-works;

.#{$parentClassName} {
	width: 100%;
	display: flex;
	justify-content: center;
	border: {
		bottom: 2.5px solid white;
	}
	.#{$parentClassName}__container {
		margin: 75px 0;
		width: 80%;
		.#{$parentClassName}__inner {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			.#{$parentClassName}__description {
				background: rgba(194, 194, 194, 0.654);
				display: flex;
				justify-content: space-between;
				height: 75px;
				div,
				h1 {
					display: flex;
					align-items: center;
				}
				&__title {
				}
				&__info {
				}
				&__data {
				}
			}
			.#{$parentClassName}__list {
				width: 100%;
				display: flex;
				flex-direction: column;
			}
			.#{$parentClassName}__button {
				margin: {
					top: 50px;
				}
			}
		}
	}
}

.work {
	display: flex;
	justify-content: center;
	position: relative;
	background: rgba(128, 128, 128, 0.426);
	background-image: url("../../../../../../../assets/images/background/background_3.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	* {
		background: transparent;
	}
	.container {
		z-index: 2;
		width: 95%;
		display: flex;
		justify-content: space-between;
		color: white;
		padding: {
			top: 15px;
			bottom: 15px;
		}
		.title {
			font: {
				family: "Inter", sans-serif;
				size: 36px;
			}
		}
		.data {
			display: flex;
			align-items: center;
			font-size: 14px;
		}
	}
}

.work::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	backdrop-filter: grayscale(1) blur(2.5px);
	background: transparent;
}
