@use "../../../../../styles/mixins.module" as mixins;
@use "/src/styles/fonts/global.module" as fonts;

$parentClassName: work;

.#{$parentClassName} {
	@include mixins.transparent-background;
	.#{$parentClassName}__container {
		.#{$parentClassName}__inner {
			display: flex;
			text-align: center;
			justify-content: space-between;
			h1 {
				@include mixins.header-title;
				font: {
					family: "Inter";
				}
			}
		}
	}
}
