@use "sass:map";
@use "sass:color";
@use "sass:list";
@use "../utils/colors-functions" as utils;

$black: rgb(0, 0, 0);

$primary-colors: (
	white-var: rgb(242, 242, 242),
	gray-var: rgb(125, 125, 125),
	black-var: rgb(0, 0, 0),
);

$colors-types: (
	white-var: (
		lighter: utils.get-lighter(map-get($primary-colors, white-var), 7.5%),
		default: map-get($primary-colors, white-var),
		darker: utils.get-darker(map-get($primary-colors, white-var), 7.5%),
	),
	gray-var: (
		lighter: utils.get-lighter(map-get($primary-colors, gray-var), 50%),
		default: map-get($primary-colors, gray-var),
		darker: utils.get-darker(map-get($primary-colors, gray-var), 7.5%),
	),
	black-var: (
		lighter: utils.get-lighter(map-get($primary-colors, black-var), 50%),
		default: map-get($primary-colors, black-var),
		darker: utils.get-darker(map-get($primary-colors, black-var), 7.5%),
	),
);

@debug $colors-types;
