@use "/src/styles/colors/global.module" as colors;
@use "/src/styles/fonts/global.module" as fonts;

$main-info-color: map-get(colors.$types, black-var, default);

$parentClassName: main-info;

.#{$parentClassName} {
	color: $main-info-color;
	position: relative;
	text-transform: uppercase;
	white-space: break-spaces;
	font-weight: 600;
	.#{$parentClassName}__inner {
		.#{$parentClassName}__list {
			.#{$parentClassName}__list-element {
				font: {
					family: "Inter";
				}
				line-height: 20px;
				pointer-events: auto;
				padding-right: 30px;
				display: inline-flex;
				align-items: center;
				position: relative;
				&::after {
					content: "";
					background: white;
					height: 5px;
					width: 5px;
					border-radius: 50%;
					position: absolute;
					right: 12.5px;
				}
			}
			.#{$parentClassName}__list-element:last-child {
				&::after {
					display: none;
				}
			}
		}
	}
}
