@use "../../../../../styles/mixins.module" as mixins;

$parentClassName: languages;

.#{$parentClassName} {
	@include mixins.transparent-background;

	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	.#{$parentClassName}__list {
	}
}
