@use "../../../styles/constants/constant" as constant;

.navigation {
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 85%;
		width: 90%;
	}

	&__container > &__inner {
		@include constant.transparentBackground;

		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
	}

	@include constant.transparentBackground;

	display: flex;
	justify-content: center;
	width: 100%;
	height: 62.5px;
	backdrop-filter: blur(10px);
	border: {
		bottom: 1px solid white;
	}
}
