@use "/src/styles/colors/global.module" as colors;

$button-color: map-get(colors.$types, gray-var, darker);

.button {
	background: white !important;
	padding: {
		left: 20px;
		right: 20px;
		top: 15px;
		bottom: 15px;
	}
	font: {
		size: 14px;
		weight: 600;
		family: "Montserrat", sans-serif;
	}
	letter-spacing: 0.5px;
	color: $button-color;
	cursor: pointer;
	border-radius: 25px;
}
